{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static '/photos/bootstrap.min.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="">Logo</a>
        </nav>

        <div class="content container">
            <div class="row">
                <div class="col-md-10">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>